@import url('https://fonts.googleapis.com/css2?family=Joti+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

:root{
    --blue:#0181B4;
    --orange:#E3AE79;
    --gray:#757575;
    --cream:#FFF5E4;
    --footer:#F8EAD6;
}

/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:"Roboto Mono", monospace;
    min-height:100vh;
}


/* MAIN */
.container{
    margin-top:90px;
    padding:30px;
}

.grid{
    display:grid;
    grid-template-columns:repeat(auto-fill,180px);
    gap:30px;
}

/* ADD CARD */
.add-card{
    width:180px;
    height:240px;
    background:#E8E8E8;
    border-radius:15px;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    box-shadow:0 4px 8px rgba(0,0,0,0.08);
}

/* POPUP */
#popup{
    display:none;
    position:fixed;
    inset:0;
    background:rgba(0,0,0,0.4);
    justify-content:center;
    align-items:center;
}

#popup.show{
    display:flex;
}

.popup-box{
    width:90%;
    max-width:700px;
    background:#FAE9D9;
    border-radius:20px;
    padding:25px;
}

.form-group{
    display:flex;
    margin-bottom:12px;
    gap:10px;
}

.form-group label{
    width:130px;
    padding-top:10px;
}

.form-group input,
.form-group select,
.form-group textarea{
    flex:1;
    padding:10px;
    border:none;
    border-radius:12px;
}

.form-group textarea{
    height:90px;
}

.button-group{
    display:flex;
    justify-content:flex-end;
    gap:10px;
    margin-top:20px;
}

.button-group button{
    padding:10px 16px;
    border:none;
    border-radius:10px;
    cursor:pointer;
}/* ADD CARD */
.add-card{
    width:180px;
    height:240px;
    background:#E8E8E8;
    border-radius:15px;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    box-shadow:0 4px 8px rgba(0,0,0,0.08);
}

/* POPUP */
#popup{
    display:none;
    position:fixed;
    inset:0;
    background:rgba(0,0,0,0.4);
    justify-content:center;
    align-items:center;
}

#popup.show{
    display:flex;
}

.popup-box{
    width:90%;
    max-width:700px;
    background:#FAE9D9;
    border-radius:20px;
    padding:25px;
}

.form-group{
    display:flex;
    margin-bottom:12px;
    gap:10px;
}

.form-group label{
    width:130px;
    padding-top:10px;
}

.form-group input,
.form-group select,
.form-group textarea{
    flex:1;
    padding:10px;
    border:none;
    border-radius:12px;
}

.form-group textarea{
    height:90px;
}

.button-group{
    display:flex;
    justify-content:flex-end;
    gap:10px;
    margin-top:20px;
}

.button-group button{
    padding:10px 16px;
    border:none;
    border-radius:10px;
    cursor:pointer;
}
