/* Imporing Google font */
@import url('https://fonts.googleapis.com/css2?family=Joti+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


.joti-one-regular {
  font-family: "Joti One", serif;
  font-weight: 200;
  font-style: normal;
}

.roboto-mono-small {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root {
    /*colot*/
    --white-color: #fff;
    --dark-color: #252525;
    --primary-color: #FFF5E4;
    --cream-color: #FFF5E4;
    --secondary-color: #0181B4;
    --blue-color: #0181B4;
    --orange-color: #E3AE79;
    --gray-color: #757575;
    --gray-color-card: #E8E8E8;

    /*Font size*/
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    /*Font weight*/
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    
    /*Border radius*/
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

    /*Size max width*/
    --site-max-width: 1300px;

}

/* Grid */
.container {
  margin-top: 90px;
  padding: 30px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    gap: 30px;
}

/* Add card */
.add-card {
    width: 180px;
    height: 240px;
    background: var(--gray-color-card);
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    box-shadow: 2px 3px 3px rgba(0,0,0,0.1);

    display: flex;
    justify-content: center;
    align-items: center; 
}

.add-card a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* Card 
.card img {
    width: 150px;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
}

.card p {
    margin: 5px 0;
}

.genre {
    font-size: 12px;
    color: gray;
} */

/* Popup */
#popup {
    display: none;
    position: fixed;
    top:0; left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.4);

    justify-content: center;
    align-items: center;
}

#popup.show {
    display: flex;
}

.popup-box {
    width: 90%;
    max-width: 700px;
    background: #FAE9D9;
    border-radius: 20px;
    padding: 20px;
}

/* Insite */
.popup-content {
    display: flex;
}

/* Sidebar
.sidebar {
    width: 150px;
    background: #c9dbe0;
    padding: 10px;
} */

/* Form */
.form {
    flex: 1;
    padding: 10px;
}

.form-group {
    display: flex;
    align-items: flex-start; 
    margin-bottom: 10px;
}

.form-group label {
    font-family: "Roboto Mono";
    font-size: var(--font-size-s);
    padding: 10px;
    width: 130px;      
    flex-shrink: 0;     
}

.form-group input,
.form-group select,
.form-group textarea {
    flex: 1;          
}

.form input, .form select, .form textarea {
    font-family: "Roboto Mono";
    font-size: var(--font-size-s);
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    border: none;
}

.form textarea {
    height: 80px;
}

.form .button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 100%; 
}

/* Close */
#closeBtn {
    cursor: pointer;
    color: #757575;
}
