/* Imporing Google font */
@import url('https://fonts.googleapis.com/css2?family=Joti+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


.joti-one-regular {
  font-family: "Joti One", serif;
  font-weight: 200;
  font-style: normal;
}

.roboto-mono-small {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root {
    /*colot*/
    --white-color: #fff;
    --dark-color: #252525;
    --primary-color: #FFF5E4;
    --cream-color: #FFF5E4;
    --secondary-color: #0181B4;
    --blue-color-font: rgba(1, 129, 180, 0.626);
    --blue-color: #0181B4;
    --orange-color: #E3AE79;
    --gray-color: #757575;

    /*Font size*/
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2.1rem;
    --font-size-xxl: 2.3rem;

    /*Font weight*/
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    
    /*Border radius*/
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

    /*Size max width*/
    --site-max-width: 1300px;

}

/* Carousel */
.carousel, 
.carousel-inner, 
.carousel-item {
    
    padding-top: 25px; 
    background-color: transparent;
}
.carousel-item img {
    width: 100%;
    height: 450px;      
    object-fit: cover;   
    display: block;
}


